@import "../styles/theme.scss";
@import "mixins";
.content {
  .content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .header{
        text-align: center;
        h1{
            font-weight: 700;
        }
    }
    .content_banner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 100%;
      img {
   
        object-fit: contain;
      }
    }
  }
}
@include tablet() {
  .content {
    
    .content_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .header{
          text-align: center;
          h1{
              font-weight: 700;
          }
      }
      .content_banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
          object-fit: contain;
        }
      }
    }
  }
}