@import "../styles/theme.scss";
@import "mixins";
.contact {
  .video_container {
  }
  .contact_container {
    padding-bottom: 4rem;
    background-color: $bg-light-gray;
    .header {
      h3 {
        color: $primary !important;
        margin-bottom: 1rem;
      }
      h1 {
        color: $dark;
      }
      margin-bottom: 3rem;
    }
    .contact_address {
      .address_item {
        .address_item_title {
          margin-bottom: 1rem;
        }
        .address_item_content {
          color: $light-gray;
          font-weight: 500;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@include tablet() {
  .contact {
    .video_container {
    }
    .contact_container {
      padding-bottom: 4rem;
      background-color: $bg-light-gray;
      .header {
        h3 {
          color: $primary !important;
          margin-bottom: 1rem;
        }
        h1 {
          color: $dark;
        }
        margin-bottom: 3rem;
      }
      .contact_address {
        .address_item {
          .address_item_title {
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
          .address_item_content {
            color: $light-gray;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
