@import "../styles/theme.scss";
@import "mixins";
.question_form {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form_title {
    font-size: 1.2rem;
  }
  .form_container {
    .form_content_title {
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    .form_content {
        width: 100%;
     .MuiInputBase-root{
      border-radius: 0;
     }
        canvas{
          left: -25%;
        }
      .MuiTypography-root {
        // font-family: "Poppins", sans-serif !important;
      }
    }
  }
}
@include mobile() {
  .question_form {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .form_title {
      font-size: 1.2rem;
    }
    .form_container {
      .form_content_title {
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      .form_content {
          width: 100%;
       .MuiInputBase-root{
        border-radius: 0;
       }
          canvas{
            left: -25%;
          }
        .MuiTypography-root {
          // font-family: "Poppins", sans-serif !important;
        }
      }
    }
  }
}