@import "../styles/theme.scss";
@import "mixins";
.services {
  margin-top: 5rem;
  .services_container {
    .header {
      h3 {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $primary;
      }
    }
    .services_tabs_container {
      margin-top: 2rem;
      .services_tabs {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .services_tab {
          cursor: pointer;
          border-radius: 7px;
          align-items: center;
          border: 1px solid $lightest-gray;
          padding: 25px 35px;
          h3 {
            font-weight: 600;
          }
        }
        .active {
          border: 1px solid $primary;
          p {
            color: $primary;
          }
        }
      }
      .services_image {
        width: 100%;
        height: auto;
        img {
          object-fit: contain;
        }
      }
    }
  }
}

@include tablet() {
  .services {
    margin-top: 5rem;
    
    .services_container {
      .header {
        h3 {
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: $primary;
        }
      }
      .services_tabs_container {
        margin-top: 2rem;
        .services_tabs {
          display: flex;
          flex-direction: column;
          width: 100% ;
          gap: 0.5rem;
          .services_tab {
            cursor: pointer;
            border-radius: 7px;
            align-items: center;
            border: 1px solid $lightest-gray;
            padding: 25px 35px;
            width: 100% ;
            h3 {
              font-weight: 600;
            }
          }
          .active {
            border: 1px solid $primary;
            p {
              color: $primary;
            }
          }
        }
        .services_image {
          width: 100%;
          height: 500px;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
@include mobile() {
  .services {
    margin-top: 5rem;
    .services_container {
      .header {
        h3 {
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: $primary;
        }
      }
      .services_tabs_container {
        margin-top: 2rem;
        .services_tabs {
          display: flex;
          flex-direction: column;
          width: 100% ;
          gap: 0.5rem;
          .services_tab {
            cursor: pointer;
            border-radius: 7px;
            align-items: center;
            border: 1px solid $lightest-gray;
            padding: 25px 35px;
            width: 100% ;
            h3 {
              font-weight: 600;
            }
          }
          .active {
            border: 1px solid $primary;
            p {
              color: $primary;
            }
          }
        }
        .services_image {
          width: 100%;
          height: 300px;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}