@import "../styles/theme.scss";
.about_us {
  .hero_section {

    position: relative;

      height: 500px;
      display: flex;
      align-items: center;
      margin-top: 0;
       
    .hero__left {
      display: flex;
      flex-direction: column;

      justify-content: center;
      height: 500px;

      .hero__left_description {
        text-align: left;
        margin: 1rem 0;
        font-size: 1.2rem;
        color: $light-gray;
      }
      .hero__left_title {
        font-size: 50px;
        line-height: 60px;
      }
    }
    .hero__right {
      position: absolute;
      right: 0;
      top: 0;
      height: 500px !important;
      width: auto !important;
      display: flex;
      .home_img {
        object-fit: cover !important;
        // width: 100% !important;
        // position: relative !important;
        // height: unset !important;
        vertical-align: middle;
        width: 100vw !important;
        right: 0;
        position: absolute;
        // object-fit: cover;
        // height: 500px !important;
      }
    }
  }
}
.value {
  background: $bg-light-gray;
  padding: 5rem 0;
  .header {
    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      color: $light-gray;
      text-align: center;
      margin-bottom: 3rem;
    }
    margin-bottom: 3rem;
  }
  .value_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1.5rem;
    .value_card {
      // height: 30%;

      .icon {
        color: $primary;
        width: 30px;
        height: 30px;
      }
      padding: 1.5rem;
      background: $white;
      .value_card_p {
        color: $dark;
        text-transform: inherit;
      }
      h4 {
        text-align: left;
        margin: 1.5rem 0;
      }
      p {
        text-align: left;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $light-gray;
      }
    }
  }
}
.team {
  margin: 7rem;
  .team_items {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    grid-template-areas:
      "block1 block3"
      "block2 block3";
    align-items: center;
    grid-auto-flow: dense;
    width: 100%;
    .team_item {
      background: rgba(#000, $alpha: 0.7);
      justify-self: center;
      text-align: center;
      overflow: hidden;
      position: relative;
      width: 350px;
      height: 350px;
      img {
        object-fit: cover;
        width: 350px;
        height: 350px;
        transition: all 0.5s;
      }
      .team_item_overlay {
        color: #fff;
        width: 100%;
        opacity: 0;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
        transition: all 0.4s ease 0s;
        .post {
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 2px;
          text-transform: capitalize;
          display: block;
        }
        .title {
          font-size: 23px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;

          margin: 0 0 8px;
          &:after {
            content: "";
            height: 7px;
            width: 130px;
            margin: 8px auto 0;
            border: 2px solid #fff;
            border-left: none;
            border-right: none;
            clear: both;
            display: block;
            opacity: 0;
            transform: scale(0);
            transition: all 0.4s ease 0s;
          }
          &:hover {
          }
        }
      }
      &:hover {
        img {
          opacity: 0.2;
          filter: blur(3px);
          transform: scale(1.1);
        }
        .team_item_overlay {
          opacity: 1;
        }
        .title {
          &:after {
            opacity: 0.5;
            transform: scale(1);
          }
        }
      }
    }
    margin-right: 0rem;
  }
  .team_text {
    color: $gray;
    margin-top: 2rem;
    line-height: 1.6rem;
  }
  .header {
    h3 {
      color: $primary !important;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    h1 {
      color: $dark;
      font-weight: 700;
      font-size: 3rem;
    }
    padding-bottom: 1.5rem;
    border-bottom: 1px $lightest-gray solid;
  }
}
@media only screen and (max-width: 768px) {
  .about_us {
    .hero_section {
      margin-bottom: 5rem;
      height: 500px;
      position: relative;
      margin-top: 1rem;
      .hero__left {
        display: flex;
        flex-direction: column;

        justify-content: center;
        height: 500px;

        .hero__left_description {
          text-align: left;
          margin: 1rem 0;
          font-size: 1.2rem;
          color: $light-gray;
        }
        .hero__left_title {
          font-size: 50px;
          line-height: 60px;
        }
      }
      .hero__right {
        position: absolute;
        right: 0;
        top: 0;
        // height: 500px !important;
        width: 100% !important;
        display: flex;
        .home_img {
          vertical-align: middle;
          width: 50vw !important;
          right: 0;
          position: absolute;
          object-fit: cover;
          height: 500px !important;
        }
      }
    }
  }
  .value {
    background: $bg-light-gray;
    padding: 5rem 0;
    .header {
      h2 {
        margin-bottom: 1rem;
        text-align: center;
      }
      p {
        color: $light-gray;
        text-align: center;
        margin-bottom: 3rem;
      }
      margin-bottom: 3rem;
    }
    .value_cards {
      display: grid;
      grid-template-columns: 1fr;

      gap: 1.5rem;
      .value_card {
        // height: 30%;

        .icon {
          color: $primary;
          width: 30px;
          height: 30px;
        }
        padding: 1.5rem;
        background: $white;
        .value_card_p {
          color: $dark;
          text-transform: inherit;
        }
        h4 {
          text-align: left;
          margin: 1.5rem 0;
        }
        p {
          text-align: left;
          text-transform: uppercase;
          font-size: 0.8rem;
          color: $light-gray;
        }
      }
    }
  }
  .team {
    margin: 2rem;
    .team_items {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      justify-items: center;
      align-items: center;
      gap: 1rem;
      grid-template-areas:
        "block1 block3"
        "block2 block3";
      align-items: center;
      grid-auto-flow: dense;
      width: 100%;
      .team_item {
        justify-self: center;
        width: 170px;
        height: 170px;
        img {
          object-fit: cover;
          width: 170px;
          height: 170px;
        }
      }
      margin-right: 0rem;
    }
    .team_text {
      color: $gray;
      margin-top: 2rem;
      font-size: 0.9rem;
      line-height: 1.6rem;
    }
    .header {
      h3 {
        color: $primary !important;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
      h1 {
        color: $dark;
        font-weight: 700;
        font-size: 2rem;
      }
      padding-bottom: 0.5rem;
      border-bottom: 1px $lightest-gray solid;
    }
    .header_bottom {
      margin-bottom: 0;
    }
  }
}
