// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");@import "../styles/gap.scss";
@import "../styles/reset.scss";
@import "../styles/theme.scss";
@import "../styles/hero.scss";

@import "../styles/home-services.scss";
@import "../styles/home-steps.scss";
@import "../styles/home-contact.scss";
@import "../styles/reviews-slider.scss";
@import "../styles/footer.scss";
@import "../styles/header.module.scss";
@import "../styles/about-us.scss";
@import "../styles/demo.scss";
@import "../styles/service.scss";
@import "../styles/contact.scss";
@import "../styles/hire.scss";
@import "../styles/solutions.scss";
@import "../styles/content.scss";
@import "../styles/counter.scss";
@import "../styles/services.scss";
@import "../styles/pricing.scss";
@import "../styles/compare.scss";
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;

  color: $dark;
}

// @tailwind base;
// @tailwind components;
// @tailwind utilities;
.MuiButton-root {
  transition: 0.25s;
  text-transform: capitalize;
  font-weight: 600;
}
.divider {
  background: $lightest-gray;
  width: 100%;
  display: block;
  height: 1px;
}
.loading__container {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 10000;
}
.loading__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
border: 1px solid #000;
background-color: #000;
  // overflow-y: hidden !important;
  .common_logo {
    width: 170px;
    height: 100px;
    display: flex;
    align-items: center;
    img {
      object-fit: contain;
    }
  }
  .logo_animation {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .loading__wrapper {
    .logo_animation {
      width: 80%;
      height: auto;
    }
    .common_logo {
      width: 150px;
      height: 70px;
      display: flex;
      align-items: center;
      img {
        object-fit: contain;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .loading__wrapper {
    .logo_animation {
      width: 100%;
      height: auto;
    }
    .common_logo {
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      img {
        object-fit: contain;
      }
    }
  }
}
