.solutions_section {
  margin-top: 5rem;

  padding: 5rem 0;

  .header {
    h3 {
      color: $primary !important;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    h1 {
      color: $dark;
    }
    margin-bottom: 3rem;
  }
  .solutions__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .step {
      position: relative;

      display: flex;
      justify-content: center;
      padding: 45px 0 30px 0px;
      .step_number {
        top: 0;
        left: 0;
        position: absolute;
        font-size: 9rem;
        color: $lightest-gray;
        z-index: 0;
        font-weight: 700;
      }
      .step_text {
        z-index: 10;
        display: flex;
        flex-direction: column;
        width: 80%;
        line-height: 1.5rem;
        h4 {
          margin: 1rem 0;
          height: 50%;
          font-weight: 600;
          z-index: 10;
        }
        p {
          z-index: 10;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .solutions_section {
    margin-top: 5rem;
  
    padding: 5rem 0;
  
    .header {
      h3 {
        color: $primary !important;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
      h1 {
        color: $dark;
      }
      margin-bottom: 3rem;
    }
    .solutions__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .step {
        position: relative;
  
        display: flex;
        justify-content: center;
        padding: 45px 0 30px 0px;
        .step_number {
          top: 0;
          left: 0;
          position: absolute;
          font-size: 9rem;
          color: $lightest-gray;
          z-index: 0;
          font-weight: 700;
        }
        .step_text {
          z-index: 10;
          display: flex;
          flex-direction: column;
          width: 80%;
          line-height: 1.5rem;
          h4 {
            margin: 1rem 0;
            height: 50%;
            font-weight: 600;
            z-index: 10;
          }
          p {
            z-index: 10;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .solutions_section {
    margin-top: 0rem;
  
    padding: 2rem 0;
  
    .header {
      h3 {
        color: $primary !important;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
      h1 {
        color: $dark;
      }
      margin-bottom: 3rem;
    }
    .solutions__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      .step {
        position: relative;
  
        display: flex;
        justify-content: center;
        padding: 45px 0 0px 0px;
        .step_number {
          top: 0;
          // left: -10%;
          position: absolute;
          font-size: 7rem;
          color: $lightest-gray;
          z-index: 0;
          font-weight: 700;
        }
        .step_text {
          z-index: 10;
          display: flex;
          flex-direction: column;
          width: 100%;
          line-height: 1.5rem;
          h4 {
            margin: 1rem 0;
            height: 50%;
            font-weight: 600;
            z-index: 10;
          }
          p {
            z-index: 10;
          }
        }
      }
    }
  }
}